header {
  background-color: #0bda51;
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 5;
}

header .mainlogo {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  cursor: pointer;
}

.menuicon {
  position: absolute;
  top: 8px;
  left: 220px;
  height: 35px;
  cursor: pointer;
}

.addpostbutton {
  width: 37px;
  height: 37px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addpostbutton img {
  position: absolute;
  width: 60%;
  pointer-events: none;
}

.profileicon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
}

.profileicon img {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.menubar {
  position: absolute;
  top: 50px;
  left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  background-color: #ffff;
  border: 2px solid #0bda51;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #027529;
  transition: 0.3s linear all;
  z-index: -1;
  display: none;
}

.mbone {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 5px 1px 5px 1px;
  cursor: pointer;
  color: #027529;
  margin-top: 10px;

}

.mbone img {
  width: 30px;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.profilemenu{
  position: absolute;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  background-color: #ffff;
  border: 2px solid #0bda51;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #027529;
  display: none;
  height: 80px;
  overflow: hidden;
}

.profilemenu div{
position: absolute;
left: 2px;
top: 2px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
}