.popupcontainer{
position: absolute;
width: 100%;
top: 60px;
text-align: center;
}
.popup {
  background-color: white;
  width: 330px;
  height: 300px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px black;
  margin: auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: popanime 0.4s linear 0s;
}


.popup h1 {
  position: absolute;
  text-align: center;
  font-size: 30px;
  top: 0px;
  color: #268f49;
}

.popup div {
  position: absolute;
  width: 70%;
  text-align: center;
  font-size: 20px;
  top: 70px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup button {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #268f49;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.popup span {
  position: absolute;
  bottom: 10px;
  margin-left: -10px;
}

.popup img {
  position: absolute;
  width: 30px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
